
body {
  background: #1B213B;
  color: #777;
  font-family: Montserrat, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.body-bg {
  background: #F3F4FA !important;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

.box .apexcharts-xaxistooltip {
  background: #1B213B;
  color: #fff;
}

.content-area {
  /* max-width: 1280px;
  margin: 0 auto; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
}

.box {
  background-color: #262D47;
  /* padding: 25px 25px; */
  border-radius: 4px;
  flex: 1;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.columnbox {
  padding-right: 15px;
}
.radialbox {
  max-height: 333px;
  margin-bottom: 60px;
}

.apexcharts-legend-series tspan:nth-child(3) {
  font-weight: bold;
  font-size: 20px;
}

.main {
  /* margin-top: -30px; */
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  padding: -0.1rem; /* spacing around the entire grid */
  overflow: hidden;
 }

.row {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
}

.col-md-6 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

iframe {
  height: 100%;
  max-height: 40vh;
}

.d-fixed {
  margin-bottom: -55px !important;
  padding-bottom: 0 !important;
}

.logos-left, .logos-right {
  display: flex;
  align-items: center;
}

.logos-left {
  justify-content: flex-start; /* Align logos to the left */
}

.logos-right {
  justify-content: flex-end; /* Align logos to the right */
}

.IMDEA-logo img, .EU img, .SNS-6G img, .Madrid-logo img {
  height: auto;
  margin: 0 8px;  /* Space between logos */
  margin-top: -1px;
}

.SNS-6G img {
  width: 200px;
}

.EU img {
  width: 270px;
}

.chart-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #f9f6f7; /* Same red tone as your fill color */
  margin: 0 0 15px 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.spinner-border {
  display: none;
}

/* styles both buttons */
#toggleUpdate {
  padding: 12px 24px;
  background: linear-gradient(to right, #141354, #36368b);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#toggleUpdate:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.active-button {
  /* background-color: #a21232;
  color: white; */
  padding: 12px 24px;
  background: linear-gradient(to right, #19d029, #a5e568);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.default-button {
  padding: 12px 24px;
  background: linear-gradient(to right, #057734, #388d4d);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.default-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.active-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.button-label {
  color: rgba(255, 255, 255, 0.693);
  font-size: 0.85rem;
  margin-bottom: 5px;
}

#frame {
  resize: both;
  overflow: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
}

#frame:hover {
  /*transform: scale(1.2);*/
  z-index: 1000; /* bring to front */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#footer {
  margin: 10px 0;
  padding: 0 5vw;
}
#footer div img {
  width: auto;
  min-height: 6vh;
  height: 4em;
}
#header {
  display: flex;
  justify-content: right;
  padding: 1em;
}
#header div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.panel {
  height: 40vh !important;
  overflow: hidden;
}
.panel div#frame {
  overflow: hidden;
}
.latency-charts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  max-height: 35vh;
}
div#linechart {
    margin: auto;
    height: 100%;
}
div#linechart .apexcharts-canvas {
  margin: auto;
}
