body {
  background: #fff;
  color: #777;
  font-family: Montserrat, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.body-bg {
  background: #F3F4FA !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

.box .apexcharts-xaxistooltip {
  background: #1B213B;
  color: #fff;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: .5em 0;
  gap: .5em;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 3vw;
  padding-right: 3vw;
}

.box {
  background-color: var(--panel-bg-color);
  border-radius: 4px;
  flex: 1;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.columnbox {
  padding-right: 15px;
}

.radialbox {
  max-height: 333px;
  margin-bottom: 60px;
}

.apexcharts-legend-series tspan:nth-child(3) {
  font-weight: bold;
  font-size: 20px;
}

.main {
  flex: 1;
  display: grid;
  overflow: hidden;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .4fr .6fr;
}

.row {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
}

div.row:nth-child(1) .panel {
  height: 25vh;
}

div.row:nth-child(2) .panel {
  height: 50vh
}

.panel {
  overflow: hidden;
  background-color: var(--panel-bg-color);
  border-radius: 6px;
}

.panel div#frame {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.col-md-6 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

iframe {
  height: 100%;
}

.d-fixed {
  margin-bottom: -55px !important;
  padding-bottom: 0 !important;
}

.logos-left,
.logos-right {
  display: flex;
  align-items: center;
}

.logos-left {
  justify-content: flex-start;
}

.logos-right {
  justify-content: flex-end;
}

.IMDEA-logo img,
.EU img,
.SNS-6G img,
.Madrid-logo img {
  height: auto;
  margin: 0 8px;
  margin-top: -1px;
}

.SNS-6G img {
  width: 200px;
}

.EU img {
  width: 270px;
}

.chart-title {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color: #f9f6f7;
  margin: 0 0 15px 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.spinner-border {
  display: none;
}

#toggleUpdate {
  padding: 12px 24px;
  background: linear-gradient(to right, #141354, #36368b);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#toggleUpdate:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.default-button {
  padding: 12px 24px;
  background: linear-gradient(to right, var(--colors-g-2), var(--colors-g-3));
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out, color none;
  width: 100%;
  text-align: center
}

.active-button {
  background: var(--colors-g-1);
  color: white;
}

.default-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.active-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.button-label {
  color: var(--colors-1);
  font-size: 0.85rem;
  margin-bottom: 5px;
}

#frame {
  overflow: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
}

#frame:hover {
  /*transform: scale(1.2);*/
  z-index: 1000;
  /* bring to front */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer div img {
  width: auto;
  min-height: 6vh;
  height: 4em;
  margin: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1em;
}

#header .title {
  display: flex;
  gap: 1em;
  margin: auto 0;
}

#header .title h1 {
  color: var(--colors-g-1);
  font-size: 2.1em;
}

#header .title h1>span {
  font-weight: 900;
}

#header .title .header-logo {
  height: 3em;
}

#header .title .header-logo>img {
  height: 100%;
}

#header .experiments-nav {
  display: flex;
  flex-direction: row;
  align-items: start;
}

#header .experiments-nav div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.latency-charts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  max-height: 35vh;
}

div#linechart {
  margin: auto;
  height: 100%;
}

div#linechart .apexcharts-canvas {
  margin: auto;
}

.footer .logos {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.footer .copyright {
  text-align: center;
}

.footer .copyright p {
  margin-bottom: 0;
  font-size: .8em;
}

.footer .copyright .github-icon {
  min-height: 18px !important;
  height: 18px !important;
  filter: invert(100%);
}

.footer .github-link {
  background-color: #505050;
  height: 20px;
  font-size: .7em;
  color: #fff;
  text-decoration: none;
  padding: 1px 1em;
  border-radius: 4px;
  margin-top: 3px;
}

.footer .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5em;
  ;
}